<br>
<footer class="page-footer font-small">
  <hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center">CST336 Internet Programming. 2021&copy; RoadRunner Financial <br><strong>Disclaimer:</strong> <em>The information in this webpage is ficticious.<br>It is used for academic purposes only.</em>
  <figure>
    <img class="p-2" src="/img/csumbLogo.png" alt="California State University Monterey Bay" width="150" height="75" align="center" />
  </figure>  
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>