<%- include('partials/header.ejs') %>
<body>
<h2 class="text-center">Rubric</h2>

<table id="rubric" cellpadding="10px">
  <tbody><tr><th>#</th><th>Task Description</th><th>Points</th></tr>
    <tr style="color:green">
      <td>1</td>
      <td>Project allows user interaction with at least three different types of form elements (text box, select, radio, checkbox, etc).<br></td>
      <td width="20" align="center">15</td>
    </tr>     
    <tr style="color:green">
      <td>2</td>
      <td>Project uses at least three database tables with at least 10 fields (combined)<br>
      </td>
      <td width="20" align="center">10</td>
    </tr>     
    <tr style="color:green">
      <td>3</td>
      <td>Project uses Web storage or Sessions.<br></td>
      <td width="20" align="center">10</td>
    </tr>     
    <tr style="color:green">
      <td>4</td>
      <td>Project allow users to update existing records in the database, in a friendly way (data is pre-filled).<br></td>
      <td width="20" align="center">15</td>
    </tr>     
    <tr style="color:green">
      <td>5</td>
      <td>Project allow users to add records to the database.<br></td>
      <td width="20" align="center">15</td>
    </tr>
    <tr style="color:green">
      <td>6</td>
      <td>Project must have at least 100 lines of JavaScript/jQuery code.<br></td>
      <td width="20" align="center">10</td>
    </tr> 
		<tr style="color:green">
      <td>7</td>
      <td>Project includes at least three local or external Web APIs. As part of your submission, please explain where the Fetch calls are.<br></td>
      <td width="20" align="center">15</td>
    </tr>   
    <tr style="color:green">
      <td>8</td>
      <td>Project has a nice, professional and consistent design, free of typos. Uses at least 50 CSS properties or Bootstrap.</td>
      <td width="20" align="center">10</td>
    </tr>
    <tr>
      <td></td>
      <td>T O T A L </td>
      <td width="20" align="center">100</td>
    </tr> 
</tbody></table>

</body>
<%- include('partials/footer.ejs') %>